@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Inter:wght@400;500&family=Figtree:wght@300&display=swap');
@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }
}


.split-text-custom {
  word-wrap: break-word;
}